<% provide(:title, 'Location') %>
<h1>Location</h1>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>
<p>
  
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>